<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head(~{::title},~{::link}, ~{::script})">
    <title>Добавление LDAP-сервера</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/permissions.css}"/>

    <script th:src="@{/static/js/admin/ldap/ldap-service.js}"></script>
    <script th:src="@{/static/js/admin/ldap/ldap-controller.js}"></script>
</head>
<body>
<header th:replace="fragments/header :: header(ldap, admin)"></header>

<div class="form-body big-form">
    <nav class="breadcrumb-nav">
        <div class="nav-wrapper">
            <div class="col s12">
                <a th:href="@{/admin/ldap}" class="breadcrumb">Реестр ldap-cерверов</a>
                <a th:href="@{/admin/ldap/add}" class="breadcrumb">Добавление ldap-cервера</a>
            </div>
        </div>
    </nav>
    <form id="ldap-form" class="form-horizontal" method="POST" th:action="@{/admin/ldap}">
        <div th:replace="fragments/card/ldap :: ldapFields"></div>
    </form>
</div>

</body>
</html>